@use "../../styles/main.scss" as *;

* {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  scroll-behavior: smooth;
}

.layout__header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.layout__content {
  flex-grow: 1;
}

body.theme_dark {
  background-color: var(--color-bg);
}
